.fade-enter-active, .fade-leave-active {
  transition: all 3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

.ourwedding {
  font-size: 5rem;
  font-family: 'Cinzel';
  color: aliceblue;
}

.top-message {
  font-family: 'Noto Serif JP';
  color: gray;
}

.countdown {
  font-size: 3rem;
  font-family: 'Cinzel';
}
.countdown-theday {
  font-size: 2.5rem;
  font-family: 'Cinzel';
}
.countdown-digit {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Cinzel';
  width: 10rem;
}
.countdown-label {
  font-size: 2rem;
  padding: 0 10px;
  font-family: 'Cinzel';
}

@media screen and ( max-width:760px) {
  .ourwedding {
    font-size: 3rem;
  }

  .countdown {
    font-size: 2rem;
  }
  .countdown-theday {
    font-size: 1.5rem;
  }
  .countdown-digit {
    font-size: 3rem;
  }
  .countdown-label {
    font-size: 1rem;
  }
}